@{
	ViewData["Title"] = "Strona główna";
}
@using System.Data
@model System.Data.DataTable
@{
	var TransferData = ViewData["TransferData"] as List<Transfers>;
	var FoodData = ViewData["FoodData"] as List<Food>;
	var HealthData = ViewData["HealthData"] as List<Health>;
	var OthersData = ViewData["OthersData"] as List<Others>;
	var id = ViewData["ID"];

	var maxRecords = new List<int>
	{
		TransferData?.Count ?? 0,
		FoodData?.Count ?? 0,
		HealthData?.Count ?? 0,
		OthersData?.Count ?? 0,
	}.Max();
}
@if (maxRecords == 0)
{
	<h1>Tabela jest pusta</h1>
	<h2>Dodaj swoją pierwszą transakcję</h2>
}
else
{
	@if (TransferData != null || FoodData != null || HealthData != null || OthersData != null)
	{
		<div class="containerindex">
			<table class="center">
				<tr class="names">
					<th>Przelewy</th>
					<th>Jedzenie</th>
					<th>Zdrowie</th>
					<th>Różne</th>
				</tr>
				@for (int i = 0; i < maxRecords; i++)
				{
					<tr>
						<td>
							@if (i < TransferData.Count)
							{
								<table class="inner-table">
									<tr>
										@{
											var Transfer = TransferData[i];
											int TransferCurrency = Transfer.Currency;
											int TransferDirection = Transfer.Direction;
											char mp;
											string suffix;
											if (TransferCurrency == 1)
											{
												suffix = "Zł";
											}
											else
											{
												suffix = "Eur";
											}
											if (TransferDirection == 1)
											{
												mp = '-';
												<td class="TransferOut">@mp @Transfer.Price @suffix</td>
											}
											else
											{
												mp = '+';
												<td class="TransferIn">@mp @Transfer.Price @suffix</td>
											}

										}
										<td class="indexname">@Transfer.Name</td>
									</tr>
								</table>
							}
						</td>
						<td>
							@if (i < FoodData.Count)
							{
								<table class="inner-table">
									<tr>
										@{
											var food = FoodData[i];
											int FoodCurrency = food.Currency;
											string suffix;
											if (FoodCurrency == 1)
											{
												suffix = "Zł";
											}
											else
											{
												suffix = "Eur";
											}
										}
										<td class="indexprice">- @food.Price @suffix</td>
										<td class="indexname">@food.Name</td>
									</tr>
								</table>
							}
						</td>
						<td>
							@if (i < HealthData.Count)
							{
								<table class="inner-table">
									<tr>
										@{
											var Health = HealthData[i];
											int HealthCurrency = Health.Currency;
											string suffix;
											if (HealthCurrency == 1)
											{
												suffix = "Zł";
											}
											else
											{
												suffix = "Eur";
											}
										}
										<td class="indexprice">- @Health.Price @suffix</td>
										<td class="indexname">@Health.Name</td>
									</tr>
								</table>
							}
						</td>
						<td>
							@if (i < OthersData.Count)
							{
								<table class="inner-table">
									<tr>
										@{
											var Others = OthersData[i];
											int OthersCurrency = Others.Currency;
											string suffix;
											if (OthersCurrency == 1)
											{
												suffix = "Zł";
											}
											else
											{
												suffix = "Eur";
											}
										}
										<td class="indexprice">- @Others.Price @suffix</td>
										<td class="indexname">@Others.Name</td>
									</tr>
								</table>
							}
						</td>
					</tr>
				}
			</table>
		</div>
	}
}





